*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #131313;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#1b45b7,#d432e2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #ad132d;
}
textarea{
    width: 600px;
    height: 250px;
    background: #ccc3e0;
    color: rgb(17, 99, 176);
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 15px;
    color: rgb(4, 4, 5);
    opacity: .6;
}.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ffffff;
    color: rgb(193, 23, 37);
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

}
button img{
    width: 16px;
    margin-right: 10px;
}
select{
    flex: 1; 
    /* it will use the entire space in the row */
    color: aliceblue;
    background: #ccc3e0;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
   
}